<form class="form-horizontal" autocomplete="off" #editUserModal="ngForm" (ngSubmit)="save()">
  <abp-modal-header [title]="'Chỉnh sửa' | localize" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
  <div class="modal-body">
    <tabset>
      <tab [heading]="'Thông tin chung' | localize" class="pt-3 px-2">
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="name">
            {{ "Tên" | localize }}
          </label>
          <div class="col-md-9">
            <input type="text" class="form-control" name="name" id="name" required maxlength="32"
              [(ngModel)]="user.name" #nameModel="ngModel" #nameEl />
            <abp-validation-summary [control]="nameModel" [controlEl]="nameEl"></abp-validation-summary>
          </div>
        </div>
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="surname">
            {{ "Họ" | localize }}
          </label>
          <div class="col-md-9">
            <input type="text" class="form-control" name="surname" id="surname" required maxlength="32"
              [(ngModel)]="user.surname" #surnameModel="ngModel" #surnameEl />
            <abp-validation-summary [control]="surnameModel" [controlEl]="surnameEl"></abp-validation-summary>
          </div>
        </div>
        <!-- <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="userName">
            {{ "UserName" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="userName"
              id="userName"
              required
              minlength="2"
              maxlength="32"
              [(ngModel)]="user.userName"
              #userNameModel="ngModel"
              #userNameEl
            />
            <abp-validation-summary
              [control]="userNameModel"
              [controlEl]="userNameEl"
            ></abp-validation-summary>
          </div>
        </div> -->
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="emailAddress">
            {{ "Địa chỉ Email" | localize }}
          </label>
          <div class="col-md-9">
            <input type="email" class="form-control" name="emailAddress" id="emailAddress" required maxlength="256"
              pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{1,})+$" [(ngModel)]="user.emailAddress"
              #emailAddressModel="ngModel" #emailAddressEl />
            <abp-validation-summary [control]="emailAddressModel" [controlEl]="emailAddressEl"></abp-validation-summary>
          </div>
        </div>
        <div class="form-group row mb-0">
          <label class="col-md-3 col-form-label">
            {{ "Kích hoạt" | localize }}
          </label>
          <div class="col-md-9">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" name="isActive" id="isActive"
                [(ngModel)]="user.isActive" />
              <label class="custom-control-label mt-2" for="isActive"></label>
            </div>
          </div>
        </div>
      </tab>
      <tab [heading]="'Cấp bậc'" class="pt-3 px-2">
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="surname">
            Cấp bậc
          </label>
          <div class="col-md-9">
            <p-dropdown [style]="{'width':'100%'}" [options]="listCapBac" name="CapBac" [(ngModel)]="user.capBac"
              placeholder="Lựa chọn cấp bậc" optionLabel="label" optionValue="value" [showClear]="true"></p-dropdown>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="surname">
            Lữ Đoàn
          </label>
          <div class="col-md-9">
            <p-dropdown [style]="{'width':'100%'}" [options]="listLuDoan" name="LuDoan" [(ngModel)]="user.luDoan"
              placeholder="Lựa chọn lữ đoàn" optionLabel="label" optionValue="value" [showClear]="true"></p-dropdown>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="surname">
            Tiểu Đoàn
          </label>
          <div class="col-md-9">
            <p-dropdown [style]="{'width':'100%'}" [options]="listTieuDoan" name="TieuDoan" [(ngModel)]="user.tieuDoan"
              placeholder="Lựa chọn tiểu đoàn" optionLabel="label" optionValue="value" [showClear]="true"></p-dropdown>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="surname">
            Đại đội
          </label>
          <div class="col-md-9">
            <p-dropdown [style]="{'width':'100%'}" [options]="listDaiDoi" name="DaiDoi" [(ngModel)]="user.daiDoi"
              placeholder="Lựa chọn đại đội" optionLabel="label" optionValue="value" [showClear]="true"></p-dropdown>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="surname">
            Chức vụ
          </label>
          <div class="col-md-9">
            <p-dropdown [style]="{'width':'100%'}" [options]="listChucVu" name="Chucvu" [(ngModel)]="user.chucVu"
              placeholder="Lựa chọn chức vụ" optionLabel="label" optionValue="value" [showClear]="true"></p-dropdown>
          </div>
        </div>
      </tab>
      <tab [heading]="'Phân quyền' | localize" class="pt-3 px-2">
        <div class="form-group row mb-0">
          <ng-container *ngFor="let role of roles; let i = index">
            <div class="col-md-6">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" [id]="'role_' + i"
                  [checked]="isRoleChecked(role.normalizedName)" (change)="onRoleChange(role, $event)" />
                <label class="custom-control-label" [for]="'role_' + i">
                  {{ role.name }}
                </label>
              </div>
            </div>
          </ng-container>
        </div>
      </tab>
    </tabset>
  </div>
  <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!editUserModal.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
</form>