<div [@routerTransition]>
    <section class="content px-2 pt-2">
        <div class="container-fluid">
            <div class="card p-2 thong-ke-container">
                <div class="header text-center mb-3">Công cụ thống kê: Cảm xúc</div>

                <form>
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label for="TieuDoan">Tiểu Đoàn</label>
                            <p-dropdown [style]="{'width':'100%'}" [options]="listTieuDoan"
                                [(ngModel)]="selectedTieuDoan" name="TieuDoan" placeholder="Lựa chọn tiểu đoàn"
                                optionLabel="label" optionValue="value" [showClear]="true"></p-dropdown>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="DaiDoi">Đại đội</label>
                            <p-dropdown [style]="{'width':'100%'}" [options]="listDaiDoi" [(ngModel)]="selectedDaiDoi"
                                name="DaiDoi" placeholder="Lựa chọn đại đội" optionLabel="label" optionValue="value"
                                [showClear]="true"></p-dropdown>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="startDate">Ngày bắt đầu</label>
                            <p-calendar [style]="{'width':'100%'}" name="startDate" [(ngModel)]="startDate"
                                [maxDate]="endDate" dateFormat="dd/mm/yy" [showIcon]="true" inputId="startDate">
                            </p-calendar>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="endDate">Ngày kết thúc</label>
                            <p-calendar [style]="{'width':'100%'}" name="endDate" [minDate]="startDate"
                                dateFormat="dd/mm/yy" [showIcon]="true" inputId="endDate"></p-calendar>
                        </div>
                    </div>
                    <div class="form-group">
                        <p-button label="Thống kê" (onClick)="getThongKeNhatKy()"></p-button>
                    </div>
                </form>


                <div class="row">
                    <div class="col-sm card-thong-ke">
                        <div class="title-cam-xuc mb-2 text-center">Theo cảm xúc</div>
                        <div class="row p-2">
                            <div class="col-md-6 title-cam-xuc text-center">
                                Tích cực
                            </div>
                            <div class="col-md-6 title-cam-xuc text-center">
                                Tiêu cực
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="list-group" *ngFor="let item of tichCuc;">
                                    <li class="list-group-item mb-1">
                                        <div class="row" style="color: blueviolet;">
                                            <div class="col-md-9"><i class="fas fa-thumbs-up"></i> {{item}}</div>
                                            <div class="col-md-3">
                                                <span
                                                    class="badge badge-pill badge-primary">{{getSoluongThongKe(item)}}</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="list-group" *ngFor="let item of tieuCuc;">
                                    <li class="list-group-item mb-1">
                                        <div class="row" style="color: indianred;">
                                            <div class="col-md-9"><i class="fas fa-thumbs-down"></i> {{item}}</div>
                                            <div class="col-md-3">
                                                <span
                                                    class="badge badge-pill badge-warning">{{getSoluongThongKe(item)}}</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm card-thong-ke">
                        <div class="title-cam-xuc mb-2 text-center">Theo Hashtag</div>
                        <div>
                            <div *ngIf="thongKeDto.hashTags">
                                <ul class="list-group" *ngFor="let item of thongKeDto.hashTags;">
                                    <li class="list-group-item mb-1">
                                        <button style="height: 25px;" pButton pRipple type="button" label="Primary"
                                            class="p-button-text"
                                            (click)="showListCamXucTheoTag(item)">{{item.tenHashTag}}</button>
                                    </li>
                                </ul>

                            </div>
                        </div>
                        <div *ngIf="listCamXucTheoTag.length > 0">
                            <div class="title-cam-xuc mb-2 mt-2 text-center">Thống kê Hashtag</div>
                            <ul class="list-group" *ngFor="let item of listCamXucTheoTag;">
                                <li class="list-group-item mb-1">
                                    <div class="row" style="color: blueviolet;" *ngIf="tichCuc.includes(item.tenCamXuc)">
                                        <div class="col-md-9"><i
                                                class="fas fa-thumbs-up"></i> {{item.tenCamXuc}}</div>
                                        <div class="col-md-3">
                                            <span class="badge badge-pill badge-primary">{{item.soLuong}}</span>
                                        </div>
                                    </div>
                                    <div class="row" style="color: indianred;" *ngIf="tieuCuc.includes(item.tenCamXuc)">
                                        <div class="col-md-9"><i
                                                class="fas fa-thumbs-down"></i> {{item.tenCamXuc}}</div>
                                        <div class="col-md-3">
                                            <span class="badge badge-pill badge-warning">{{item.soLuong}}</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>