<div [@routerTransition]>
    <section class="content px-2 pt-2">
        <div class="container-fluid">
            <div class="card nhat-ky-container">
                <div class="row" style="height: 100%;">
                    <div class="col-sm nhat-ky-list">
                        <div class="card-nhat-ky">
                            <div class="mt-2 ml-2 mr-2">
                                <div class="header">Cảm xúc hiện tại của bạn thế nào?</div>
                                <div class="row mt-2 mb-2">
                                    <div class="col-sm">
                                        <h5>Tích cực</h5>
                                        <div class="col-sm mb-2" *ngFor="let item of tichCuc;">
                                            <p-checkbox [name]="item" [value]="item" [(ngModel)]="selectedCamxuc"
                                                [inputId]="item" (onChange)="changeCamXuc($event)">
                                            </p-checkbox>
                                            <label class="label-cam-xuc ml-2">{{item}}</label>
                                        </div>
                                    </div>
                                    <div class="col-sm">
                                        <h5>Tiêu cực</h5>
                                        <div class="col-sm mb-2" *ngFor="let item of tieuCuc;">
                                            <p-checkbox [name]="item" [value]="item" [(ngModel)]="selectedCamxuc"
                                                [inputId]="item" (onChange)="changeCamXuc($event)">
                                            </p-checkbox>
                                            <label class="label-cam-xuc ml-2" [for]="item">{{item}}</label>
                                        </div>
                                    </div>
                                </div>

                                <label for="lyDo">Lý do</label>
                                <textarea name="lyDo" [style]="{'width':'100%'}" rows="5" cols="30"
                                    [(ngModel)]="nhatKy.note" pInputTextarea></textarea>

                                <label for="HashTags">HashTags</label>
                                <p-chips separator="," name="HashTags" [style]="{'width':'100%'}"
                                    [inputStyle]="{'width':'100%'}" [(ngModel)]="hashtags"></p-chips>

                                <div class="mt-2 mb-2">
                                    <p-button label="Cập nhật" (click)="addNhatKy()"></p-button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm nhat-ky-list">
                        <div class="card-nhat-ky">
                            <div class="card mt-3 ml-4 mb-2 mr-2" style="width: 95%;" *ngFor="let item of listNhatKy;">
                                <div class="card-body">
                                    <h5 class="card-title">{{ item.creationTime | date:'dd/MM/YYYY hh:mm:ss' }} </h5>
                                    <p class="card-text">Cảm xúc: {{item.camXuc}}</p>
                                    <p class="card-text">Lý do: {{item.note}}</p>
                                    <p class="card-text">HashTag: {{item.hashTag}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>